/* Template */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
body {
	font-family: "PT Sans", Tahoma, sans-serif;
	color: #FFF;
	min-height: 100%;
	position: relative;
	background: #00b3ee;
}
h1, h2, h3, h4{
	font-weight: normal;
	text-shadow:1px 1px 1px rgba(0,0,0,0.7);
}

h1{ font-size:6em; line-height:normal;}
h2{ font-size:1.8em; line-height:normal;}
h3{ font-size:1.6em; line-height:normal;}
h4{ font-size:1.4em; line-height:normal;}
a {
	color: #7a7a7a;
	text-decoration: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #9d8e64;
	box-shadow: 0 2px 2px #f1e2bd;
	margin: 1em 0;
	padding: 0
}
img {
	vertical-align: middle
}
textarea {
	resize: vertical
}

/* outline */
a:active,
a:focus{
	outline: none !important;
}
.row div[class*=col] {
	border:1px dashed #777777;
}

#wrap {
	/*
	margin: 0 auto;
	position: relative;
	padding-bottom: 30px
	*/
}
#content{
}
header,
footer{
	background-color: #f0f0f0;
}
footer{
	padding-top: 30px;
	padding-bottom: 30px;
	height: 300px;
}